@font-face {
    font-family: 'FuturaPT-Book';
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
         url('../fonts/FuturaPT-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaPT-Medium';
    src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
         url('../fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Book.woff') format('woff');
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2');
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    font-style: normal;
    font-display: swap;
  }