body::-webkit-scrollbar {
  position: absolute;
  width: 6px;

  overflow: overlay;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar-thumb {
  position: absolute;
  top: 290px;
  width: 6px;
  height: 108px;
  background: url(/img/scrollbar/Inactive.png) no-repeat center;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  position: absolute;
  width: 6px;
  height: 108px;
  background: url(/img/scrollbar/Hover.png) no-repeat center;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:active {
  width: 6px;
  height: 108px;
  background: url(/img/scrollbar/Active.png) no-repeat center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
body {
  overflow: auto;
  -ms-overflow-style: none;
}
* {
  margin: 0;
  padding: 0;
  color: #05003e;
  text-decoration: none;
}
@font-face {
  font-family: Futura PT;
  src: url(/fonts/FuturaPT-Book.woff);
  src: url(/fonts/FuturaPT-Book.woff2);
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.header {
  width: 100%;
  height: 80vh;
  display: grid;
  position: relative;
  grid-template-columns: 44.3% 1.5fr 0.3fr;
  grid-template-rows: 0.3fr 1.6fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "bird-img links language"
    "main-logo main-logo social"
    "main-logo main-logo social";
  background-size: cover;
  background-image: url(../img/pexels-alexis-ricardo-alaurin-8057449.png);
  
}

.links {
  grid-area: links;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #05003e;
}
.bar {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-logo {
  grid-area: main-logo;
  position: relative;
  /* z-index: 0; */
}

.flag {
  position: absolute;
  background: 
  /* url('/img/Вітання.svg') 50% 14%/60% 43% no-repeat, 
  url('/img/Group\ 1022.svg') 98% 81%/45% 22%  no-repeat; */ url("/img/Прапор.svg")
    60% 60% / cover no-repeat;
  width: 100%;
  height: 120%;
}
.hello {
  /* position: absolute; */
  background: url("/img/Вітання.svg") center 20%/60% 43% no-repeat,
    url("/img/Group\ 1022.svg") 98% 75%/45% 25% no-repeat;
  width: 100%;
  height: 85%;
}
.hello img {
  max-width: 100%;
  max-height: 100%;
}

.language {
  width: 100%;
  height: 100%;
  grid-area: language;
  background: #6a8ea8;
  display: flex;
  justify-content: center;
  align-content: center;
}

.social {
  background: #6a8ea8;
  grid-area: social;
}

.bird-img {
  grid-area: bird-img;
  place-self: center;
}

.icons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0px;
}
.dropdown {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.dropbtn {
  background-color: #6a8ea8;
  color: white;
  padding-top: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 103px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
