* {
  margin: 0;
  padding: 0;
  color: #05003e;
  text-decoration: none;
}

@font-face {
  font-family: Futura PT;
  src: url(../fonts/FuturaPT-Book.woff);
  src: url(../fonts/FuturaPT-Book.woff2);
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

body::-webkit-scrollbar {
  position: absolute;
  width: 6px;

  overflow: overlay;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar-thumb {
  position: absolute;
  top: 290px;
  width: 6px;
  height: 108px;
  background: url(../img/scrollbar/Inactive.png) no-repeat center;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  position: absolute;
  width: 6px;
  height: 108px;
  background: url(../img/scrollbar/Hover.png) no-repeat center;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:active {
  width: 6px;
  height: 108px;
  background: url(../img/scrollbar/Active.png) no-repeat center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

body {
  overflow: auto;
  -ms-overflow-style: none;
  font-family: Futura PT;
}

.header {
  width: 100%;
  height: 80vh;
  display: grid;
  position: relative;
  grid-template-columns: 44.3% 1.5fr 0.3fr;
  grid-template-rows: 0.3fr 1.6fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "bird-img links language"
    "main-logo main-logo social"
    "main-logo main-logo social";
  background-size: cover;
  background-image: url(../img/pexels-alexis-ricardo-alaurin-8057449.png);
 
  src: url(../fonts/FuturaPT-Book.woff);
  src: url(../fonts/FuturaPT-Book.woff2);
  font-size: 24px;

  
}

.links {
  grid-area: links;
  font-size: 24px;
  color: #05003e;
}
.bar {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
  font-family: 'Futura PT';
  font-style: normal;
  color: #05003E;
}

.main-logo {
  grid-area: main-logo;
  position: relative;
}

.flag {
  position: absolute;
  background: 
   url(../img/Прапор.svg) 60% 60% / cover no-repeat;
  width: 100%;
  height: 120%;
}
.hello {
  /* position: absolute; */
  background: url(../img/Вітання.svg) center 20%/60% 43% no-repeat,
    url(../img/Group\ 1022.svg) 98% 75%/45% 25% no-repeat;
  width: 100%;
  height: 85%;
}
.hello img {
  max-width: 100%;
  max-height: 100%;
}

.language {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background: #6a8ea8;
  display: flex;
  justify-content: center;
  align-content: center;
}

.social {
  background: #6a8ea8;
  grid-area: social;
}

.bird-img {
  grid-area: bird-img;
  place-self: center;
}

.icons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px;
}
.dropdown {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.dropbtn {
  background-color: #6a8ea8;
  color: white;
  /* padding-top: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 103%;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 103%;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

.wrapper {
min-height: 100%;
overflow: hidden;
display: flex;
}

.content {
  max-width: 100%;
margin: 0px auto;
}
.registration {
  
  margin: 0 0 90px 0;
}
.registration__body {
  display: flex;
  align-items: center;
  flex-direction:column;
}

.registration__info{
  max-width: 60%;
  margin: 0 0 50px 0;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: #05003E;
}
.registration__text {
  font-size: 28px;
  line-height: 36px;
  color: #05003E;
  margin: 0 0 23px 0;
  text-align: center;
}
.registration__buttom {
  display: block;
padding: 12px 92px;
text-align: center;
line-height: 45px;
background-color: #2162B4;
border-radius: 2px;
color: #ffffff;
font-size: 35px;
  cursor: pointer;
}

.information {
  margin: 0 auto;
  padding: 75px 0;
  background: url(../img/02.png) 
}

.information__body {
  max-width: 80%;
  margin: 0 auto;
  display: flex;    
}

.information__text {
  flex: 0 1 60%;
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  color: #05003E; 
}
.information_image {   
  flex: 0 1 585px; 
  margin: 0 0 0 28px;
}
.video {
  margin: 90px 0 0 0;   
}
.video__container{
  width: 80%;
  margin: 0 auto;
}
.video__body {  
  display: flex;
  justify-content: center;
  align-items: center;
}
.video__item{   
  width: 100%;
  padding-top: 56.25%;
  position: relative;  
}
.video__item iframe{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.modal_header_partner {
    border: hidden;
}
.rectangle3222 {
    width: 100%;
    height: 17px;
    background: #05003E;
    border-radius: 2px 2px 0px 0px;
    margin-bottom: 80px;
}
.title_partners {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 64px;
    color: #05003E;
    text-align: center;
    margin-bottom: 50px;
}

.input_partners {
    width: 70%;
    height: 57px;
    border: 1.5px solid #E9E9E9;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #05003E;  
    margin: 0 auto;
}
.label_parners {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #05003E;
    margin-left: 15%;
}  
.textarea_parners {
    width: 70%;
    height: 163px;
    border: 1.5px solid #E9E9E9;
    border-radius: 2px;
    margin: 0 auto;
}  
input.form-control::-webkit-input-placeholder {
    color: #05003E;
}
#vectors11 {
    position: absolute;
    width: 106px;
    height: 96.16px;
    margin-top: 66%;
    margin-left: 71%;

} 
#regist-partner {
    width: 40%;
    height: 70px;
    background: #2162B4;
    border-radius: 2px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-style: normal;
    font-weight: 450;
    font-size: 35px;
    color: #FFFFFF;
}

