* {
  margin: 0;
  padding: 0;
  color: #05003e;
  text-decoration: none;
}

@font-face {
  font-family: Futura PT;
  src: url(../fonts/FuturaPT-Book.woff);
  src: url(../fonts/FuturaPT-Book.woff2);
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

body::-webkit-scrollbar {
  position: absolute;
  width: 6px;

  overflow: overlay;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar-thumb {
  position: absolute;
  top: 290px;
  width: 6px;
  height: 108px;
  background: url(../img/scrollbar/Inactive.png) no-repeat center;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  position: absolute;
  width: 6px;
  height: 108px;
  background: url(../img/scrollbar/Hover.png) no-repeat center;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:active {
  width: 6px;
  height: 108px;
  background: url(../img/scrollbar/Active.png) no-repeat center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

body {
  overflow: auto;
  -ms-overflow-style: none;
  font-weight: normal;
  font-family: Futura PT, sans-serif;
}

.header {
  width: 100%;
  height: 80vh;
  display: grid;
  position: relative;
  grid-template-columns: 44.3% 1.5fr 0.3fr;
  grid-template-rows: 0.3fr 1.6fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "bird-img links language"
    "main-logo main-logo social"
    "main-logo main-logo social";
  background-size: cover;
  background-image: url(../img/pexels-alexis-ricardo-alaurin-8057449.png);
 
  src: url(../fonts/FuturaPT-Book.woff);
  src: url(../fonts/FuturaPT-Book.woff2);
  font-size: 24px;

  
}

.links {
  grid-area: links;
  font-size: 24px;
  color: #05003e;
}
.bar {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
  font-family: 'Futura PT';
  font-style: normal;
  color: #05003E;
}

.main-logo {
  grid-area: main-logo;
  position: relative;
}

.flag {
  position: absolute;
  background: 
   url(../img/Прапор.svg) 60% 60% / cover no-repeat;
  width: 100%;
  height: 120%;
}
.hello {
  /* position: absolute; */
  background: url(../img/Вітання.svg) center 20%/60% 43% no-repeat,
    url(../img/Group\ 1022.svg) 98% 75%/45% 25% no-repeat;
  width: 100%;
  height: 85%;
}
.hello img {
  max-width: 100%;
  max-height: 100%;
}

.language {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background: #6a8ea8;
  display: flex;
  justify-content: center;
  align-content: center;
}

.social {
  background: #6a8ea8;
  grid-area: social;
}

.bird-img {
  grid-area: bird-img;
  place-self: center;
}

.icons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px;
}
.dropdown {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.dropbtn {
  background-color: #6a8ea8;
  color: white;
  /* padding-top: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 103%;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 103%;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

.wrapper {
min-height: 100%;
overflow: hidden;
display: flex;
}

.content {
  max-width: 100%;
margin: 0px auto;
}
.registration {
  
  margin: 0 0 90px 0;
}
.registration__body {
  display: flex;
  align-items: center;
  flex-direction:column;
}

.registration__info{
  max-width: 60%;
  margin: 0 0 50px 0;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: #05003E;
}
.registration__text {
  font-size: 28px;
  line-height: 36px;
  color: #05003E;
  margin: 0 0 23px 0;
  text-align: center;
}
.registration__buttom {
  display: block;
padding: 12px 92px;
text-align: center;
line-height: 45px;
background-color: #2162B4;
border-radius: 2px;
color: #ffffff;
font-size: 35px;
  cursor: pointer;
}

.information {
  margin: 0 auto;
  padding: 75px 0;
  background: url(../img/02.png) 
}

.information__body {
  max-width: 80%;
  margin: 0 auto;
  display: flex;    
}

.information__text {
  flex: 0 1 60%;
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  color: #05003E; 
}
.information_image {   
  flex: 0 1 585px; 
  margin: 0 0 0 28px;
}
.video {
  margin: 90px 0 0 0;   
}
.video__container{
  width: 80%;
  margin: 0 auto;
}
.video__body {  
  display: flex;
  justify-content: center;
  align-items: center;
}
.video__item{   
  width: 100%;
  padding-top: 56.25%;
  position: relative;  
}
.video__item iframe{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.modal_header_partner {
    border: hidden;
}
.rectangle3222 {
    width: 100%;
    height: 17px;
    background: #05003E;
    border-radius: 2px 2px 0px 0px;
    margin-bottom: 80px;
}
.title_partners {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 64px;
    color: #05003E;
    text-align: center;
    margin-bottom: 50px;
}

.input_partners {
    width: 70%;
    height: 57px;
    border: 1.5px solid #E9E9E9;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #05003E;  
    margin: 0 auto;
}
.label_parners {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #05003E;
    margin-left: 15%;
}  
.textarea_parners {
    width: 70%;
    height: 163px;
    border: 1.5px solid #E9E9E9;
    border-radius: 2px;
    margin: 0 auto;
}  
input.form-control::-webkit-input-placeholder {
    color: #05003E;
}
#vectors11 {
    position: absolute;
    width: 106px;
    height: 96.16px;
    margin-top: 66%;
    margin-left: 71%;

} 
#regist-partner {
    width: 40%;
    height: 70px;
    background: #2162B4;
    border-radius: 2px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-style: normal;
    font-weight: 450;
    font-size: 35px;
    color: #FFFFFF;
}


.heroy {
  padding-top: 93px;
  font-family: 'FuturaPT-Book';
}

.container{
  max-width: 80%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

.heroy-wrapper {
  position: relative;
  border-left: 3px solid #FDD817;
  border-bottom: 3px solid #FDD817;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0 90px 45px;
}

.heroy-wrapper::before {
  content: "";
  width: 3px;
  background: #FDD817;
  height: 180px;
  position: absolute;
  top: 0;
  right: 0;
}

.heroy-wrapper::after {
  content: "";
  width: 3px;
  background: #FDD817;
  height: 270px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.heroy-right {
  /* width: 739px; */
  width: 54%;
}

.heroy-left {
  /* width: 563px; */
  width: 41%;
}

.heroy-right img {
  display: block;
  max-width: 100%;
  margin-left: 10px;
}

.heroy-title {
  background: #FFF;
  text-align: center;
  font-size: 50px;
  line-height: 1;
  color: #05003E;
  position: relative;
  margin-bottom: -25px;
}

.heroy-title::before {
  content: "";
  width: 29%;
  height: 3px;
  background: #FDD817;
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.heroy-title::after {
  content: "";
  width: 29%;
  height: 3px;
  background: #FDD817;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.heroy-list li {
  font-size: 28px;
  line-height: 50px;

}

.heroy-list li span {
  font-family: 'FuturaPT-Medium';

}

.heroy-list li:not(:last-child) {
  margin-bottom: 84px;
}

.scroll {
  display: flex;
  justify-content: center;
  padding: 90px 0;
  overflow-x: hidden;
}

.scroll-img {
  max-width: 25.8%;
}

.scroll-img img {
  display: block;
  width: 100%;
}



.container-warning{
  background-image: url('../img/Rectangle.svg'),url('../img/EmblemBackground.svg');
  background-repeat: no-repeat,no-repeat;
  background-size: contain, contain;
  width: 100%;
  height: 29vw;
  display: grid;
}
.content-warning{
  font-family: Futura PT;
  color: #05003E;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-left:  15%;
  padding-right: 15%;
  font-size: 1.5vmax;
}
.content-block-right{
  margin: 0 0 0 0;
}
.content-block-left{
  margin: 0 0 0 0;
}
.emblem{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10%;
  padding-right: 9%;
  padding-bottom: 5%;
}
img.emblem{
  height: 6vw;
}
.emblem p#warning{
  font-size: 2.5vmax;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-style: normal;
}
.content-block-right p{
  justify-content: center;
  align-items: flex-end;
  line-height: 2.3vmax;

}
button.btn-1#register-members-1{
  width: 23vmax;
  height: 3.6vmax;
  font-family: Futura PT;
  font-size: 1.8vmax;
  font-weight: 450;
  color: #ffffff;
  background-color: #2162b4;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}
button.btn-1#register-members-1:hover{
  filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.5));
  border: none;
}
button.btn-1#register-members-1:active{
  color: #2162b4;
  background-color: #ffffff;
  border: none;
}
button.btn-1#register-members-1:disabled{
  color: #999999;
  background-color: #e9e9e9;
  border: none;
}

#footer{
  width: 100%;
  min-height: 200px;
  margin: 0px, auto;
  font-size: 17px;
}

#Rectangle {
  max-width: 1920px;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Left {
margin-top: 27px;
width: 50%;
height: auto;
margin-bottom: 0;
}
#Right {
margin-top: 27px;
width: 50%;
height: auto;
margin-bottom: 26px;
}

#Contacts {
width: 50%;
height: 86px;

display: block;
margin-left: 30%;
padding: 0px;
}

/* Контакти */
#Contact {
width: 100%;
height: auto;
margin: 0;

font-family: 'Futura PT';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 21px;

color: #FFFFFF;
}

#ContactsInner {
width: 100%;
height: auto;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0;
}

/* Ita.in.ua@gmail.com */
#Ita {
width: 47%;
height: auto;
padding: 0;

font-weight: 500;
font-size: 1.2em;
line-height: 1;

color: #05003E;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* 067 431 19 21 */
#Tel {
width: 34%;
height: 100%;

font-weight: 600;
font-size: 1.2em;
line-height: 1;

color: #05003E;
}

#Dobry {
width: 38%;
height: auto;
margin-left: 30%;
margin-bottom: 0px;
margin-top: 37px;

font-family: 'Futura PT';
font-style: normal;
font-weight: 450;
font-size: 1em;
line-height: 1.3;
text-align: justify;

color: #FDD817;
}

#menu {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
margin: 0 30% auto auto;

width: 40%;
height: 33px;
}

/* Спеціалізації */
#Special {
width: 7%;
height: 33px;

font-family: 'Futura PT';
font-style: normal;
font-weight: 400;
font-size: 1.2em;
line-height: 1.27;
text-decoration: none;

color: #05003E;

flex: none;
order: 0;
flex-grow: 0;
}

/* Партнери */
#Partners {
width: 5%;
height: 31px;

font-family: 'Futura PT';
font-style: normal;
font-weight: 400;
font-size: 1.1em;
line-height: 1.3;
text-decoration: none;

color: #05003E;

flex: none;
order: 1;
flex-grow: 0;
}

#Yaksho {1
width: 32%;
height: auto;
margin-top: 26px;
margin-right: 30%;
margin-bottom: 0;

font-weight: 450;
font-size: 1.2em;
line-height: 1.4;
text-align: justify;

color: #FFFFFF;
}